@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import "tailwindcss";

.artist-names {
    @apply m-2 mx-0 border-r-2 border-[#4A1608] px-5 py-1 align-middle text-base hover:cursor-pointer hover:bg-[#401B0D] hover:text-[#EA3203] max-[881px]:border-r-0;
}

h1 {
    font-family: "Luxurious Script", cursive;
}

#imageBaniere {
    height: 132px;
}

h3 {
    width: 100%;
}

@keyframes test {
    0% {
        transform: translateY(-150px);
    }
    30% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-70px);
    }
    70% {
        transform: translateY(2px);
    }
    80% {
        transform: translateY(-25px);
    }
    /* 90% {
        transform: translateY(-15px);
    } */
    100% {
        transform: translateY(0);
    }
}

.divAnimation {
    animation: test 2s ease-in-out;
}
