@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import "tailwindcss";

h1 {
    font-family: "Luxurious Script", cursive;
}

#imageBaniere {
    height: 132px;
}
